// theme.scss
$color-primary: #c34b16;
$color-primary-2: #f79e78;

$color-black: #000000;
$color-white: #ffffff;

$color-light-gray: #d3d3d3;
$color-medium-gray: #8f8f8f;
$color-dark-gray: #585858;

:root {
  --color-primary: #c34b16;
  --color-primary-2: #f79e78;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-light-gray: #d3d3d3;
  --color-medium-gray: #8f8f8f;
  --color-dark-gray: #585858;

  --hero-bg: var(--color-primary);
}
